In [1]:
cd /Users/sobhan.ahmadian.moghadam/Documents/Academic/Bioinformatics/Projects/Microbiome Disease Association/New Works/PowerMDA

/Users/sobhan.ahmadian.moghadam/Documents/Academic/Bioinformatics/Projects/Microbiome Disease Association/New Works/PowerMDA

In [1]:
cd /home/user/Documents/Students/Sobhan Ahmadian/Projects/SKGNMDA

/home/user/Documents/Students/Sobhan Ahmadian/Projects/SKGNMDA

/home/user/Documents/Students/Sobhan Ahmadian/Projects/SKGNMDA/venv/lib/python3.10/site-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:
import pandas as pd

# Metabolites

metabolites available in the database.

In [3]:
from src.features.vmh import get_raw_metabolites

table = pd.DataFrame(get_raw_metabolites())

In [4]:
table.head()

,met_id,abbreviation,createdDate,updatedDate,fullName,description,synonyms,iupac,neutralFormula,chargedFormula,...,metlin,casRegistry,epa_id,echa_id,iuphar_id,fda_id,mesh_id,chodb_id,isHuman,isMicrobe
0,4,10fthf,2018-05-31T15:54:08.170242Z,2019-02-08T16:20:18.422023Z,10-Formyltetrahydrofolate,Human Metabolome Database (HMDB): 10-Formyltet...,10-Formyl-THF***10-Formyltetrahydrofolic acid*...,"(2S)-2-[(4-{N-[(2-amino-4-oxo-1,4,5,6,7,8-hexa...",,C20H21N7O7,...,5912,2800-34-2,None,None,None,None,None,10fthf,True,True
1,1,10fthf5glu,2018-05-31T15:54:08.170242Z,2019-02-01T14:33:17.460050Z,10-Formyltetrahydrofolate-[Glu](5),,None,None,,C40H45N11O19,...,None,None,None,None,None,None,None,10fthf5glu,True,True
2,2,10fthf6glu,2018-05-31T15:54:08.170242Z,2018-12-03T15:29:15.338860Z,10-Formyltetrahydrofolate-[Glu](6),,None,None,,C45H51N12O22,...,None,None,None,None,None,None,None,10fthf6glu,True,False
3,3,10fthf7glu,2018-05-31T15:54:08.170242Z,2018-12-03T15:29:15.079598Z,10-Formyltetrahydrofolate-[Glu](7),,None,None,,C50H57N13O25,...,None,None,None,None,None,None,None,10fthf7glu,True,False
4,2937,10m3hddcaACP,2018-05-31T15:54:08.170242Z,2019-02-01T14:33:17.730885Z,10-methyl-3-hydroxy-dodecanoyl-ACP,,None,None,,C24H45N2O9PRS,...,None,None,None,None,None,None,None,None,False,True

# Reaction List

reactions available in the database

In [3]:
from src.features.vmh import get_raw_reactions

table = pd.DataFrame(get_raw_reactions())

In [4]:
table.head()

,rxn_id,createdDate,updatedDate,abbreviation,description,formula,reversible,mcs,csecoida,notes,...,cog,reconMap,reconMap3,organellemap,wikipedia,chodb_id,subsystem,massbalance,isHuman,isMicrobe
0,1,2018-05-31T16:06:56.524774Z,2018-12-03T14:46:36.681235Z,10FTHF5GLUtl,"5-Glutamyl-10Fthf Transport, Lysosomal",10fthf5glu[c] -> 10fthf5glu[l],0,2.0,3A0000000,carrier-mediated transport - but which and how...,...,,None,R_10FTHF5GLUtl,lysosome;R_10FTHF5GLUtl,None,10FTHF5GLUtl,"Transport, lysosomal",1.0,True,False
1,2,2018-05-31T16:06:56.524774Z,2018-12-03T14:54:14.812757Z,10FTHF5GLUtm,"5-Glutamyl-10Fthf Transport, Mitochondrial",10fthf5glu[m] -> 10fthf5glu[c],0,2.0,3A0000000,mechanism is unknown IT,...,,None,R_10FTHF5GLUtm,mitochondrion;R_10FTHF5GLUtm,None,10FTHF5GLUtm,"Transport, mitochondrial",1.0,True,False
2,3,2018-05-31T16:06:56.524774Z,2018-12-03T14:46:36.962656Z,10FTHF6GLUtl,"6-Glutamyl-10Fthf Transport, Lysosomal",10fthf6glu[c] -> 10fthf6glu[l],0,2.0,3A0000000,carrier-mediated transport - but which and how...,...,,None,R_10FTHF6GLUtl,lysosome;R_10FTHF6GLUtl,None,10FTHF6GLUtl,"Transport, lysosomal",1.0,True,False
3,4,2018-05-31T16:06:56.524774Z,2018-12-03T14:48:45.499964Z,10FTHF6GLUtm,"6-Glutamyl-10Fthf Transport, Mitochondrial",10fthf6glu[m] -> 10fthf6glu[c],0,2.0,3A0000000,mechanism is unknown IT,...,,None,R_10FTHF6GLUtm,mitochondrion;R_10FTHF6GLUtm,None,10FTHF6GLUtm,"Transport, mitochondrial",1.0,True,False
4,5,2018-05-31T16:06:56.524774Z,2018-12-03T14:46:37.186742Z,10FTHF7GLUtl,"7-Glutamyl-10Fthf Transport, Lysosomal",10fthf7glu[c] -> 10fthf7glu[l],0,2.0,3A0000000,carrier-mediated transport - but which and how...,...,,None,R_10FTHF7GLUtl,lysosome;R_10FTHF7GLUtl,None,10FTHF7GLUtl,"Transport, lysosomal",1.0,True,False

In [6]:
len(set(table['formula'])) == len(table['formula'])

False

# Metabolite To Reaction List

the connections between reactions and metabolites. This information represents the presence of a metabolite in a reaction. In addition it gives stoichiometry and compartment information of a metabolite in a reaction. Filters allow to get information on metabolites involved in reactions, and reactions that contain specific metabolites.

In [11]:
from src.features.vmh import get_raw_metabolite_to_reaction_matrix as get_matrix

smatrix = pd.DataFrame(get_matrix())

In [12]:
smatrix.head()

,rxn,met,value,comp
0,"{'rxn_id': 508, 'createdDate': '2018-05-31T16:...","{'met_id': 8, 'abbreviation': 'h2o', 'createdD...",1.0,m
1,"{'rxn_id': 508, 'createdDate': '2018-05-31T16:...","{'met_id': 14, 'abbreviation': 'h', 'createdDa...",3.0,m
2,"{'rxn_id': 508, 'createdDate': '2018-05-31T16:...","{'met_id': 14, 'abbreviation': 'h', 'createdDa...",-4.0,c
3,"{'rxn_id': 508, 'createdDate': '2018-05-31T16:...","{'met_id': 23, 'abbreviation': 'atp', 'created...",1.0,m
4,"{'rxn_id': 508, 'createdDate': '2018-05-31T16:...","{'met_id': 24, 'abbreviation': 'adp', 'created...",-1.0,m

In [13]:
pd.DataFrame([d['rxn'] for d in get_matrix()]).head()

,rxn_id,createdDate,updatedDate,abbreviation,description,formula,reversible,mcs,csecoida,notes,...,cog,reconMap,reconMap3,organellemap,wikipedia,chodb_id,subsystem,massbalance,isHuman,isMicrobe
0,508,2018-05-31T16:06:56.524774Z,2018-11-26T16:08:49.464957Z,ATPS4m,ATP Synthase (Four Protons for One ATP),adp[m] + 4.0 h[c] + pi[m] -> atp[m] + 3.0 h[m]...,0,4,3A0000134,IF TV,...,,ATPS4m,None,None,None,,Oxidative phosphorylation,1.0,False,False
1,508,2018-05-31T16:06:56.524774Z,2018-11-26T16:08:49.464957Z,ATPS4m,ATP Synthase (Four Protons for One ATP),adp[m] + 4.0 h[c] + pi[m] -> atp[m] + 3.0 h[m]...,0,4,3A0000134,IF TV,...,,ATPS4m,None,None,None,,Oxidative phosphorylation,1.0,False,False
2,508,2018-05-31T16:06:56.524774Z,2018-11-26T16:08:49.464957Z,ATPS4m,ATP Synthase (Four Protons for One ATP),adp[m] + 4.0 h[c] + pi[m] -> atp[m] + 3.0 h[m]...,0,4,3A0000134,IF TV,...,,ATPS4m,None,None,None,,Oxidative phosphorylation,1.0,False,False
3,508,2018-05-31T16:06:56.524774Z,2018-11-26T16:08:49.464957Z,ATPS4m,ATP Synthase (Four Protons for One ATP),adp[m] + 4.0 h[c] + pi[m] -> atp[m] + 3.0 h[m]...,0,4,3A0000134,IF TV,...,,ATPS4m,None,None,None,,Oxidative phosphorylation,1.0,False,False
4,508,2018-05-31T16:06:56.524774Z,2018-11-26T16:08:49.464957Z,ATPS4m,ATP Synthase (Four Protons for One ATP),adp[m] + 4.0 h[c] + pi[m] -> atp[m] + 3.0 h[m]...,0,4,3A0000134,IF TV,...,,ATPS4m,None,None,None,,Oxidative phosphorylation,1.0,False,False

In [14]:
pd.DataFrame([d['met'] for d in get_matrix()]).head()

,met_id,abbreviation,createdDate,updatedDate,fullName,description,synonyms,iupac,neutralFormula,chargedFormula,...,metlin,casRegistry,epa_id,echa_id,iuphar_id,fda_id,mesh_id,chodb_id,isHuman,isMicrobe
0,8,h2o,2018-05-31T15:54:08.170242Z,2019-02-08T16:21:24.245888Z,Water,Human Metabolome Database (HMDB): Water is a c...,[OH2]***Acqua***Agua***Aqua***BOUND water***Di...,Water,,H2O,...,3194,7732-18-5,DTXSID6026296,None,None,059QF0KO0R,D014867,h2o,True,True
1,14,h,2018-05-31T15:54:08.170242Z,2019-02-08T16:26:24.920053Z,Hydrogen Ion,Human Metabolome Database (HMDB): Hydrogen ion...,H+***H(+)***Hydrogen cation***Hydron***Proton,hydron,,H,...,None,12408-02-5,None,None,2346,None,None,h,True,True
2,14,h,2018-05-31T15:54:08.170242Z,2019-02-08T16:26:24.920053Z,Hydrogen Ion,Human Metabolome Database (HMDB): Hydrogen ion...,H+***H(+)***Hydrogen cation***Hydron***Proton,hydron,,H,...,None,12408-02-5,None,None,2346,None,None,h,True,True
3,23,atp,2018-05-31T15:54:08.170242Z,2019-02-08T16:19:48.820901Z,Adenosine triphosphate,Human Metabolome Database (HMDB): Adenosine tr...,Adenosine 5'-triphosphate***ADENOSINE-5'-triph...,Adenosine 5'-(tetrahydrogen triphosphate),,C10H12N5O13P3,...,5523,56-65-5,DTXSID6022559,100.000.258,1713,8L70Q75FXE,D000255,atp,True,True
4,24,adp,2018-05-31T15:54:08.170242Z,2019-02-08T16:20:51.219264Z,ADP,Human Metabolome Database (HMDB): Adenosine di...,5'-Adenylphosphoric acid***Adenosine 5'-diphos...,Adenosine 5'-(trihydrogen diphosphate),,C10H12N5O10P2,...,6175,58-64-0,DTXSID60883210,100.000.356,1712,None,None,adp,True,True

# Genes List

 Human Genes available in the database

In [15]:
from src.features.vmh import get_raw_genes

table = pd.DataFrame(get_raw_genes())
table.head()

,genes_id,createdDate,updatedDate,abbreviation,symbol,gene_number,chromosome,description,gstart,gend,...,decipher,wikipedia,mimAccession,mimDescription,humanProteomeAtlasAB,ucsc,wikigene,goTermAccession,goTermName,goTermDefinition
0,1,2018-05-31T15:49:46.176171Z,2018-11-29T16:01:06.861650Z,None,AOC3,8639.1,17,"amine oxidase, copper containing 3 [Source:HGN...",42851184,42858130,...,AOC3,AOC3,603735,"AMINE OXIDASE, COPPER-CONTAINING, 3; AOC3\n;;...",HPA000980,uc002ibv.5,8639,GO:0005507,copper ion binding,"""Interacting selectively and non-covalently wi..."
1,2,2018-05-31T15:49:46.176171Z,2018-11-29T16:01:06.453683Z,None,AOC1,26.1,7,"amine oxidase, copper containing 1 [Source:HGN...",150824627,150861504,...,AOC1,None,104610,AMILORIDE-BINDING PROTEIN 1; ABP1\n;;ABP;;\nD...,HPA031033,uc003why.1,26,GO:0005507,copper ion binding,"""Interacting selectively and non-covalently wi..."
2,3,2018-05-31T15:49:46.176171Z,2018-11-29T16:01:06.644950Z,None,AOC2,314.2,17,"amine oxidase, copper containing 2 (retina-spe...",42844600,42850707,...,AOC2,AOC2,602268,"AMINE OXIDASE, COPPER-CONTAINING, 2; AOC2\n;;...",HPA057779,uc002ibu.4,314,GO:0003674,molecular_function,"""Elemental activities, such as catalysis or bi..."
3,4,2018-05-31T15:49:46.176171Z,2018-11-29T16:01:06.743602Z,None,AOC2,314.1,17,"amine oxidase, copper containing 2 (retina-spe...",42844600,42850707,...,AOC2,AOC2,602268,"AMINE OXIDASE, COPPER-CONTAINING, 2; AOC2\n;;...",HPA057779,uc002ibu.4,314,GO:0003674,molecular_function,"""Elemental activities, such as catalysis or bi..."
4,5,2018-05-31T15:49:46.176171Z,2018-11-29T16:02:32.473496Z,None,CYP24A1,1591.1,20,"cytochrome P450, family 24, subfamily A, polyp...",54153449,54173973,...,CYP24A1,CYP24A1,126065,"CYTOCHROME P450, FAMILY 24, SUBFAMILY A, POLY...",HPA022261,uc002xwv.2,1591,GO:0008150,biological_process,"""Any process specifically pertinent to the fun..."

# Microbe Gene List

In [16]:
from src.features.vmh import get_raw_microbe_genes as get_data

table = pd.DataFrame(get_data())
table.head()

,createdDate,updatedDate,gene_number,sequence
0,2018-05-31T15:55:22.130880Z,2018-05-31T15:57:47.214985Z,g.1034.peg.1234,None
1,2018-05-31T15:55:22.130880Z,2018-05-31T15:57:47.214985Z,g.1034.peg.458,None
2,2018-05-31T15:55:22.130880Z,2018-05-31T15:57:47.214985Z,g.1034.peg.6,None
3,2018-05-31T15:55:22.130880Z,2018-05-31T15:57:47.214985Z,g.1034.peg.1936,None
4,2018-05-31T15:55:22.130880Z,2018-05-31T15:57:47.214985Z,g.1034.peg.2176,None

# Reconstructions List

In [3]:
from src.features.vmh import get_raw_recons

table = pd.DataFrame(get_raw_recons())
table.head()

,model_id,createdDate,updatedDate,name,descname,organism,organismtype,author,notes,version
0,1,2018-05-31T16:11:49.553912Z,2018-05-31T16:11:55.866502Z,Recon,Recon - Human metabolism,Human Metabolism,Human,IT,,3D
1,375,2018-05-31T16:11:49.553912Z,2019-01-22T18:39:48.823762Z,Citrobacter_youngae_ATCC_29220,Citrobacter youngae ATCC 29220,Citrobacter youngae ATCC 29220,Microbe,"Stefania Magnusdottir, Almut Heinken, Eugen Ba...",,1.03
2,376,2018-05-31T16:11:49.553912Z,2019-01-19T09:31:48.548350Z,Clostridium_difficile_NAP08,Clostridium difficile NAP08,Clostridium difficile NAP08,Microbe,"Stefania Magnusdottir, Almut Heinken, Eugen Ba...",,1.03
3,377,2018-05-31T16:11:49.553912Z,2019-01-18T17:41:35.504332Z,Enterobacter_cancerogenus_ATCC_35316,Enterobacter cancerogenus ATCC 35316,Enterobacter cancerogenus ATCC 35316,Microbe,"Stefania Magnusdottir, Almut Heinken, Eugen Ba...",,1.03
4,378,2018-05-31T16:11:49.553912Z,2019-01-29T19:40:15.812043Z,Bifidobacterium_longum_longum_ATCC_55813,Bifidobacterium longum longum ATCC 55813,Bifidobacterium longum longum ATCC 55813,Microbe,"Stefania Magnusdottir, Almut Heinken, Eugen Ba...",,1.03

# Reaction to Reconstruction List

connections between reactions and reconstructions. This connection provides information on reaction bounds in the reconstruction, GPR rule, confidence score, subsystem, references and notes.

In [18]:
from src.features.vmh import get_raw_reaction_to_recon_matrix

table = pd.DataFrame(get_raw_reaction_to_recon_matrix())
table.head()

,model,rxn,createdDate,updatedDate,lb,ub,cs,csecoida,gpr,subsystem,ref,notes
0,"{'model_id': 1, 'createdDate': '2018-05-31T16:...",10FTHF5GLUtl,2018-05-31T16:07:29.349885Z,2018-05-31T16:09:22.166192Z,0.0,1000.0,2,None,,"Transport, lysosomal",PMID:11375437,carrier-mediated transport - but which and how...
1,"{'model_id': 1, 'createdDate': '2018-05-31T16:...",10FTHF5GLUtm,2018-05-31T16:07:29.349885Z,2018-05-31T16:09:22.166192Z,0.0,1000.0,2,None,,"Transport, mitochondrial",PMID:11375437,mechanism is unknown IT
2,"{'model_id': 1, 'createdDate': '2018-05-31T16:...",10FTHF6GLUtl,2018-05-31T16:07:29.349885Z,2018-05-31T16:09:22.166192Z,0.0,1000.0,2,None,,"Transport, lysosomal",PMID:11375437,carrier-mediated transport - but which and how...
3,"{'model_id': 1, 'createdDate': '2018-05-31T16:...",10FTHF6GLUtm,2018-05-31T16:07:29.349885Z,2018-05-31T16:09:22.166192Z,0.0,1000.0,2,None,,"Transport, mitochondrial",PMID:11375437,mechanism is unknown IT
4,"{'model_id': 1, 'createdDate': '2018-05-31T16:...",10FTHF7GLUtl,2018-05-31T16:07:29.349885Z,2018-05-31T16:09:22.166192Z,0.0,1000.0,2,None,,"Transport, lysosomal",PMID:11375437,carrier-mediated transport - but which and how...

# Gene to Reconstruction List

In [19]:
from src.features.vmh import get_raw_gene_to_reconstruction as get_data

table = pd.DataFrame(get_data())
table.head()

                                               recon   gene
0  {'model': {'model_id': 1152, 'createdDate': '2...  513.1
1  {'model': {'model_id': 1152, 'createdDate': '2...  498.2
2  {'model': {'model_id': 1152, 'createdDate': '2...  506.1
3  {'model': {'model_id': 1152, 'createdDate': '2...  509.2
4  {'model': {'model_id': 1152, 'createdDate': '2...  514.1

# Microbe Genes to Reconstructions

In [20]:
from src.features.vmh import get_raw_microbe_genes_to_recons as get_data

table = pd.DataFrame(get_data())
table.head()

,gene,recon,createdDate,updatedDate
0,"{'createdDate': '2018-05-31T15:55:22.130880Z',...","{'model': {'model_id': 698, 'createdDate': '20...",2018-05-31T16:12:30.370016Z,2018-05-31T16:14:50.430755Z
1,"{'createdDate': '2018-05-31T15:55:22.130880Z',...","{'model': {'model_id': 698, 'createdDate': '20...",2018-05-31T16:12:30.370016Z,2018-05-31T16:14:50.430755Z
2,"{'createdDate': '2018-05-31T15:55:22.130880Z',...","{'model': {'model_id': 698, 'createdDate': '20...",2018-05-31T16:12:30.370016Z,2018-05-31T16:14:50.430755Z
3,"{'createdDate': '2018-05-31T15:55:22.130880Z',...","{'model': {'model_id': 698, 'createdDate': '20...",2018-05-31T16:12:30.370016Z,2018-05-31T16:14:50.430755Z
4,"{'createdDate': '2018-05-31T15:55:22.130880Z',...","{'model': {'model_id': 698, 'createdDate': '20...",2018-05-31T16:12:30.370016Z,2018-05-31T16:14:50.430755Z

# Numerical Statistic of Reconstructions

In [21]:
from src.features.vmh import get_raw_statistics_of_reconstructions as get_data

table = pd.DataFrame(get_data())
table.head()

,reconstruction,createdDate,updatedDate,n_mets,n_rxns,n_elements,n_nonzero,sparsity,comp_sparsity,max_value,min_value,av_column_dens,rel_column_dens,rank,rank_deficiency,max_sing_value,min_sing_value,condition_number,file_name
0,Abiotrophia_defectiva_ATCC_49176,2018-05-31T16:00:07.944034Z,2018-06-28T13:28:59.803412Z,952,1069,1017688,4670,99.541117,0.458883,400.0000,0.001806,4.368569,4588.832727,880,7.563025,564.981416,4.270000e-20,1.320000e+22,Abiotrophia_defectiva_ATCC_49176-S
1,Acidaminococcus_fermentans_DSM_20731,2018-05-31T16:00:07.944034Z,2018-06-28T13:29:00.529554Z,1009,1089,1098801,4664,99.575537,0.424463,45.0000,0.003096,4.282828,4244.626643,912,9.613479,145.335214,3.330000e-15,4.360000e+16,Acidaminococcus_fermentans_DSM_20731-S
2,Acidaminococcus_intestini_RyC_MR95,2018-05-31T16:00:07.944034Z,2018-06-28T13:29:00.786197Z,917,994,911498,4249,99.533844,0.466156,40.1102,0.003096,4.274648,4661.557129,855,6.761178,129.799619,2.690000e-15,4.830000e+16,Acidaminococcus_intestini_RyC_MR95-S
3,Acidaminococcus_sp_D21,2018-05-31T16:00:07.944034Z,2018-06-28T13:29:00.995554Z,856,851,728456,3616,99.503608,0.496392,40.1701,0.007809,4.249119,4963.923696,728,14.453584,129.557939,9.670000e-16,1.340000e+17,Acidaminococcus_sp_D21-S
4,Acinetobacter_calcoaceticus_PHEA_2,2018-05-31T16:00:07.944034Z,2018-06-28T13:29:01.377799Z,1326,1577,1577,6791,99.675243,0.324757,45.0000,0.003096,4.306278,3247.569942,1235,6.862745,151.675150,1.326524e-02,1.143403e+04,Acinetobacter_calcoaceticus_PHEA_2-S

# List of Diseases

In [22]:
from src.features.vmh import get_raw_diseases

table = pd.DataFrame(get_raw_diseases())
table.head()

,createdDate,updatedDate,abbreviation,name,dtype,subtype,inheritance,omim,gtr,mgi,...,clingendosage,igsr1000genoms,gwascataloge,gwascentral,geno2mp,clinvar,lovd,malacard,omim_symptons,notes
0,2018-05-31T15:53:21.702280Z,2018-09-24T15:08:08.256544Z,BS1,"Bartter Syndrome, Type 1",Inherited metabolic disorder,Sodium-potassium-chloride cotransporter,Autosomal recessive,601678,601678,601678,...,SLC12A1,ENSG00000074803,SLC12A1,SLC12A1,SLC12A1,600839,SLC12A1,bartter_syndrome_type_1_antenatal,601678,"Amniotic fluid contains high chloride, moderat..."
1,2018-05-31T15:53:21.702280Z,2018-09-24T15:08:08.379909Z,3MGA,3-Methylglutaconic Aciduria Type I,Inherited metabolic disorder,Organic acid disorders,Autosomal recessive,250950,250950,250950,...,AUH,ENSG00000148090,AUH,AUH,AUH,600529,AUH,3_methylglutaconic_aciduria_type_i_2,250950,"In urine-elevated 3-hydroxyisovaleric acid, 3-..."
2,2018-05-31T15:53:21.702280Z,2018-09-24T15:08:08.625385Z,FLIPO,Farber Lipogranulomatosis,Inherited metabolic disorder,Lysosomal disorder,Autosomal recessive,228000,228000,228000,...,ASAH1,ENSG00000104763,ASAH1,ASAH1,ASAH1,613468,ASAH1,farber_lipogranulomatosis,228000,Acid ceramidase activity decreases in fibroblast.
3,2018-05-31T15:53:21.702280Z,2018-09-24T15:08:09.902427Z,ACAD,Acetyl-Coa Carboxylase Deficiency,Inherited metabolic disorder,Lipid disorder,None,200350,200350,,...,ACACA,ENSG00000275176,ACACA,ACACA,ACACA,200350,ACACA,acetyl_coa_carboxylase_deficiency,None,"Hypotonic myopathy and neurologic damage, excr..."
4,2018-05-31T15:53:21.702280Z,2018-09-24T15:08:10.069961Z,PALD,Pseudoneonatal Adrenoleukodystrophy,Inherited metabolic disorder,Beta oxidation of fatty acids,Autosomal recessive,264470,264470,264470,...,ACOX1,ENSG00000161533,ACOX1,ACOX1,ACOX1,609751,ACOX1,None,264470,Increased very long chain fatty acids and decr...

# Biomarkers to Diseases

In [23]:
from src.features.vmh import get_raw_biomarkers

table = pd.DataFrame(get_raw_biomarkers())
table.head()

,metabolite,iem,name,value,normalConcentration,rangeConcentration,reference,ramedis
0,"{'met_id': 345, 'abbreviation': 'gly', 'create...","{'createdDate': '2018-05-31T15:53:21.702280Z',...",None,Increased,180.00-740.00,550.00-1350.00,"PMID: 21325949, PMID: 24190799",
1,"{'met_id': 928, 'abbreviation': 'pro_L', 'crea...","{'createdDate': '2018-05-31T15:53:21.702280Z',...",None,Increased,95.00 - 320.00,830-1360,"PMID: 21325949, PMID: 24190799",
2,"{'met_id': 984, 'abbreviation': 'val_L', 'crea...","{'createdDate': '2018-05-31T15:53:21.702280Z',...",None,Increased,65.00-215,210.00 - 650.00,"PMID: 21325949, PMID: 24190799","125, 133, 337"
3,"{'met_id': 370, 'abbreviation': 'thr_L', 'crea...","{'createdDate': '2018-05-31T15:53:21.702280Z',...",None,Increased,25 - 150,,"PMID: 21325949, PMID: 24190799",
4,"{'met_id': 523, 'abbreviation': 'met_L', 'crea...","{'createdDate': '2018-05-31T15:53:21.702280Z',...",None,Increased,10.00-38.00,56.00 -170.00,"PMID: 21325949, PMID: 24190799",

In [24]:
pd.DataFrame([marker['iem'] for marker in get_raw_biomarkers()]).head()

,createdDate,updatedDate,abbreviation,name,dtype,subtype,inheritance,omim,gtr,mgi,...,clingendosage,igsr1000genoms,gwascataloge,gwascentral,geno2mp,clinvar,lovd,malacard,omim_symptons,notes
0,2018-05-31T15:53:21.702280Z,2018-09-24T15:08:53.357771Z,NKH,Glycine Encephalopathy/ Nonketotic Hyperglycin...,Inherited metabolic disorder,Amino acid disorders,Autosomal recessive,605899,605899,605899,...,AMT,ENSG00000145020,AMT,AMT,AMT,238310,AMT,glycine_encephalopathy,605899,About 80 percent of cases of glycine encephalo...
1,2018-05-31T15:53:21.702280Z,2018-09-24T15:08:41.796815Z,GACR,Gyrate Atrophy of the Choroid And Retina,Inherited metabolic disorder,Amino acid disorders,Autosomal recessive,258870,258870,258870,...,OAT,ENSG00000065154,OAT,OAT,OAT,613349,OAT,gyrate_atrophy_of_choroid_and_retina,258870,Decreased activity of ornithine-delta-aminotra...
2,2018-05-31T15:53:21.702280Z,2018-09-24T15:08:54.985988Z,MSUD,Maple Syrup Urine Disease,Inherited metabolic disorder,Amino acid disorders,Autosomal recessive,248600,248600,248600,...,DLD,ENSG00000091140,DLD,DLD,DLD,238331,DLD,maple_syrup_urine_disease,248600,"In plasma increased levels of allo-isoleucine,..."
3,2018-05-31T15:53:21.702280Z,2018-09-24T15:08:40.857196Z,NICCD,Neonatal Intrahepatic Cholestasis caused by Ci...,Inherited metabolic disorder,Transporter defect,Autosomal recessive,,None,None,...,SLC25A13,ENSG00000004864,SLC25A13,SLC25A13,SLC25A13,603859,SLC25A13,citrullinemia_type_ii_neonatal_onset,None,"Blood-elevated acetylcarnitine (C2), palmitoyl..."
4,2018-05-31T15:53:21.702280Z,2018-09-24T15:08:54.536390Z,HMET,Hypermethioninemia,Inherited metabolic disorder,Amino acid disorders,Autosomal recessive and autosomal dominant,613752,None,None,...,AHCY,ENSG00000101444,AHCY,AHCY,AHCY,180960,AHCY,hypermethioninemia,613752,A deficiency of any of these enzymes (i.e. MAT...

# List of Biofluid Evidence

biofluid evidence for metabolites. Biomarkers connect diseases and metabolites. This endpoint provides information on the biofluid, condition, value of concentration, and the origin of the data provided

In [25]:
from src.features.vmh import get_raw_evidence

table = pd.DataFrame(get_raw_evidence())
table.head()

,met,createdDate,updatedDate,biofluid,condition,unit,origin,value
0,pcholn204_hs,2018-05-31T15:48:20.577774Z,2018-05-31T15:48:33.756317Z,Blood,Normal,uM,"'manually added, 28.10.2015",11.229999542236328
1,pcholn24_hs,2018-05-31T15:48:20.577774Z,2018-05-31T15:48:33.756317Z,Blood,Normal,uM,"'manually added, 28.10.2015",0.7699999809265137
2,pcholhep_hs,2018-05-31T15:48:20.577774Z,2018-05-31T15:48:33.756317Z,Blood,Normal,uM,"'manually added, 28.10.2015",4.710000038146973
3,pcholole_hs,2018-05-31T15:48:20.577774Z,2018-05-31T15:48:33.756317Z,Blood,Normal,uM,"'manually added, 28.10.2015",52.93000030517578
4,pcholmyr_hs,2018-05-31T15:48:20.577774Z,2018-05-31T15:48:33.756317Z,Blood,Normal,uM,"'manually added, 28.10.2015",52.29999923706055

# Microbe List

endpoint to view available microbes in the database. This endpoint is associated with a reconstruction, but provides additional information on the organism, with emphasis on phylogenetic information, allowing users to customise queries to the microbiom resource.

In [26]:
from src.features.vmh import get_raw_microbes

table = pd.DataFrame(get_raw_microbes())
table.head()

,reconstruction,createdDate,updatedDate,organism,seedid,kingdom,phylum,mclass,order,family,...,goldId,uniProt,ensemblBacteria,ena,microbeWiki,platform,kbaseid,prevRef,currRef,scaffolds
0,Abiotrophia_defectiva_ATCC_49176,2018-05-31T15:54:50.086322Z,2019-02-08T16:14:50.953084Z,Abiotrophia defectiva ATCC 49176,Abiotrophia defectiva ATCC 49176 (592010.4),Bacteria,Firmicutes,Bacilli,Lactobacillales,Aerococcaceae,...,Go0004152,592010,Abiotrophia_defectiva_atcc_49176,GCA_000160075.2,Abiotrophia_defectiva,ModelSEED,,None,None,20.0
1,Achromobacter_xylosoxidans_A8,2018-05-31T15:54:50.086322Z,2019-02-08T16:14:51.176225Z,Achromobacter xylosoxidans A8,Achromobacter xylosoxidans A8 (762376.5),Bacteria,Proteobacteria,Betaproteobacteria,Burkholderiales,Alcaligenaceae,...,Go0007620,762376,Achromobacter_xylosoxidans_a8,GCA_000165835.1,,ModelSEED,kb_g_3268_model_gf,None,None,NaN
2,Achromobacter_xylosoxidans_NBRC_15126,2018-05-31T15:54:50.086322Z,2019-02-08T16:14:51.635907Z,Achromobacter xylosoxidans NBRC 15126 = ATCC 2...,None,Bacteria,Proteobacteria,Betaproteobacteria,Burkholderiales,Alcaligenaceae,...,,1216976,Achromobacter_xylosoxidans_nbrc_15126_atcc_27061,GCA_000508285.1,,Kbase,kb|g.208127,None,None,NaN
3,Acidaminococcus_fermentans_DSM_20731,2018-05-31T15:54:50.086322Z,2019-02-08T16:14:51.897149Z,Acidaminococcus fermentans DSM 20731,Acidaminococcus fermentans DSM 20731 (591001.3),Bacteria,Firmicutes,Negativicutes,Acidaminococcales,Acidaminococcaceae,...,Go0001186,591001,Acidaminococcus_fermentans_dsm_20731,GCA_000025305.1,,Kbase,kb|g.2555,None,None,1.0
4,Acidaminococcus_intestini_RyC_MR95,2018-05-31T15:54:50.086322Z,2019-02-08T16:14:52.231577Z,Acidaminococcus intestini RyC-MR95,Acidaminococcus intestini RyC-MR95 (568816.4),Bacteria,Firmicutes,Negativicutes,Selenomonadales,Acidaminococcaceae,...,Go0004062,568816,Acidaminococcus_intestini_ryc_mr95,GCA_000230275.1,,Kbase,,None,None,1.0

# Microbe Location in Body

In [27]:
from src.features.vmh import get_raw_body_loc_of_microbes as get_data

table = pd.DataFrame(get_data())
table.head()

,id,microbe,createdDate,updatedDate,bodyLocation,references,comments
0,1,{'reconstruction': 'Helicobacter_pylori_26695'...,2018-05-31T15:42:11.630250Z,2018-05-31T15:42:16.210702Z,Stomach,"PMID:22355685, PMID:23790154, PMID:23962822",Species level
1,2,{'reconstruction': 'Lactobacillus_acidophilus_...,2018-05-31T15:42:11.630250Z,2018-05-31T15:42:16.210702Z,Stomach,"PMID:22355685, PMID:23790154, PMID:23962822",Genus level
2,3,{'reconstruction': 'Lactobacillus_acidophilus_...,2018-05-31T15:42:11.630250Z,2018-05-31T15:42:16.210702Z,Stomach,"PMID:22355685, PMID:23790154, PMID:23962823",Genus level
3,4,{'reconstruction': 'Lactobacillus_amylolyticus...,2018-05-31T15:42:11.630250Z,2018-05-31T15:42:16.210702Z,Stomach,"PMID:22355685, PMID:23790154, PMID:23962824",Genus level
4,5,{'reconstruction': 'Lactobacillus_antri_DSM_16...,2018-05-31T15:42:11.630250Z,2018-05-31T15:42:16.210702Z,Stomach,"PMID:22355685, PMID:23790154, PMID:23962825",Species level

# Thermodynamic Information on Metabolites

## Delta GS of Metabolites

In [28]:
from src.features.vmh import get_raw_delta_gs_of_metabolites as get_data

table = pd.DataFrame(get_data())
table.head()

,createdDate,updatedDate,standardEnergy,uncertainty,transformedEnergy,minimumTransformed,maximumTransformed,maximumConcentration,minimumConcentration,compartment,met
0,2018-05-31T15:54:35.282999Z,2018-05-31T15:54:41.762409Z,-53.33,5.02,465.57,414.16,463.54,1.00e-02,1.00e-07,Cytosol,7
1,2018-05-31T15:54:35.282999Z,2018-05-31T15:54:41.762409Z,-238.68,1.27,-151.69,-154.18,-149.20,1.00e+00,1.00e+00,Cytosol,8
2,2018-05-31T15:54:35.282999Z,2018-05-31T15:54:41.762409Z,16.40,4.73,16.40,-34.44,13.80,1.00e-02,1.00e-07,Cytosol,9
3,2018-05-31T15:54:35.282999Z,2018-05-31T15:54:41.762409Z,-153.55,5.02,193.64,142.23,191.61,1.00e-02,1.00e-07,Cytosol,10
4,2018-05-31T15:54:35.282999Z,2018-05-31T15:54:41.762409Z,-134.03,4.73,-47.05,-97.88,-49.65,1.00e-02,1.00e-07,Cytosol,11

# Thermodynamic Information on Reactions

## Delta GS of Reactions

In [29]:
from src.features.vmh import get_raw_delta_gs_of_reactions as get_data

table = pd.DataFrame(get_data())
table.head()

,createdDate,updatedDate,standardEnergy,uncertainty,transformedEnergy,minimumTransformed,maximumTransformed,rxn
0,2018-05-31T16:06:25.520950Z,2018-05-31T16:06:48.969497Z,0.00,0.00,-11.00,-40.69,18.69,1
1,2018-05-31T16:06:25.520950Z,2018-05-31T16:06:48.969497Z,0.00,0.00,-89.73,-119.42,-60.04,2
2,2018-05-31T16:06:25.520950Z,2018-05-31T16:06:48.969497Z,0.00,0.00,-12.83,-42.52,16.86,3
3,2018-05-31T16:06:25.520950Z,2018-05-31T16:06:48.969497Z,0.00,0.00,-104.69,-134.38,-75.00,4
4,2018-05-31T16:06:25.520950Z,2018-05-31T16:06:48.969497Z,0.00,0.00,-14.67,-44.35,15.02,5

## Fermentation Carbon of Reactions

In [30]:
from src.features.vmh import get_raw_fermentation_carbon_of_reactions as get_data

table = pd.DataFrame(get_data())
table.head()

,microbe,mets,createdDate,updatedDate,sourcetype,references
0,{'reconstruction': 'Abiotrophia_defectiva_ATCC...,"[lac_D, lac_L]",2018-05-31T15:48:46.790325Z,2019-02-04T15:34:36.356518Z,Fermentation,Krieg NR. Bergey's manual of systematic bacter...
1,{'reconstruction': 'Abiotrophia_defectiva_ATCC...,"[glc_D, lcts, malt, pullulan1200, sucr, tre]",2018-06-28T10:13:45.944037Z,2019-02-04T15:43:19.341332Z,Carbon sources,PMID: 11574566; Krieg NR. Bergey's manual of s...
2,{'reconstruction': 'Achromobacter_xylosoxidans...,"[arab_D, cit, glc_D, glcn, mal_L, pac, xyl_D]",2018-06-28T10:14:06.794473Z,2019-02-04T15:43:24.826464Z,Carbon sources,Krieg NR. Bergey's manual of systematic bacter...
3,{'reconstruction': 'Achromobacter_xylosoxidans...,"[arab_D, cit, glc_D, glcn, mal_L, pac, xyl_D]",2018-06-28T10:16:17.042906Z,2019-02-04T15:44:04.918583Z,Carbon sources,Krieg NR. Bergey's manual of systematic bacter...
4,{'reconstruction': 'Acidaminococcus_fermentans...,"[ac, but, h2]",2018-05-31T15:48:46.790325Z,2019-02-04T15:33:12.568684Z,Fermentation,Krieg NR. Bergey's manual of systematic bacter...

# Compartment List

In [31]:
from src.features.vmh import get_raw_compartments as get_data

table = pd.DataFrame(get_data())
table.head()

,createdDate,updatedDate,abbreviation,name,mets
0,2018-05-31T15:42:20.524831Z,2019-05-27T09:43:44.242531Z,c,Cytosol,"[4, 1, 2, 3, 2937, 2938, 2939, 2940, 2941, 294..."
1,2018-05-31T15:42:20.524831Z,2019-05-27T09:43:44.227521Z,e,Extracellular,"[4, 1, 2, 3, 825, 5, 6, 2208, 2950, 5682, 1379..."
2,2018-05-31T15:42:20.524831Z,2018-05-31T15:42:21.534809Z,g,Golgi Apparatus,"[2208, 1244, 63, 210, 105, 198, 199, 166, 168,..."
3,2018-05-31T15:42:20.524831Z,2019-05-27T09:43:18.337127Z,m,Mitochondria,"[4, 1, 2, 3, 5, 6, 2208, 386, 1244, 1245, 16, ..."
4,2018-05-31T15:42:20.524831Z,2018-05-31T15:42:21.534809Z,l,Lysosome,"[4, 1, 2, 3, 1244, 92, 190, 102, 120, 119, 122..."

# Related to Foods

## Foods

In [32]:
from src.features.vmh import get_raw_foods as get_data

table = pd.DataFrame(get_data())
table.head()

,createdDate,updatedDate,food_id,name,product_type,short_desc,common_name,survey,manufactor,refuse_desc,refuse_perc,scientific_name,n_factor,pro_factor,fat_factor,cho_factor,sources,food_group,langual
0,2018-05-31T15:48:58.585948Z,2018-05-31T15:49:15.742624Z,USDA01001,"Butter, salted",Dairy and Egg Products,"BUTTER,WITH SALT",,True,,,0.0,,6.38,4.27,8.79,3.87,"US Department of Agriculture, Agricultural Res...",1,[]
1,2018-05-31T15:48:58.585948Z,2018-05-31T15:49:15.742624Z,USDA01002,"Butter, whipped, with salt",Dairy and Egg Products,"BUTTER,WHIPPED,W/ SALT",,True,,,0.0,,6.38,NaN,NaN,NaN,"US Department of Agriculture, Agricultural Res...",1,[]
2,2018-05-31T15:48:58.585948Z,2018-05-31T15:49:15.742624Z,USDA01003,"Butter oil, anhydrous",Dairy and Egg Products,"BUTTER OIL,ANHYDROUS",,True,,,0.0,,6.38,4.27,8.79,3.87,"US Department of Agriculture, Agricultural Res...",1,[]
3,2018-05-31T15:48:58.585948Z,2018-05-31T15:49:15.742624Z,USDA01004,"Cheese, blue",Dairy and Egg Products,"CHEESE,BLUE",,True,,,0.0,,6.38,4.27,8.79,3.87,"US Department of Agriculture, Agricultural Res...",1,[]
4,2018-05-31T15:48:58.585948Z,2018-05-31T15:49:15.742624Z,USDA01005,"Cheese, brick",Dairy and Egg Products,"CHEESE,BRICK",,True,,,0.0,,6.38,4.27,8.79,3.87,"US Department of Agriculture, Agricultural Res...",1,[]

## Diet List

In [33]:
from src.features.vmh import get_raw_diet_list as get_data

table = pd.DataFrame(get_data())
table.head()

,createdDate,updatedDate,name,notes,references,totalEnergyKcal,lipids,lipids_kcal,lipids_perc,carbohydrates,...,carbohydrates_perc,proteins,proteins_kcal,proteins_perc,alcohol,alcohol_kcal,alcohol_perc,dietFibers_mg,cholesterol_mg,sucrose_mg
0,2018-05-31T15:48:04.089219Z,2018-05-31T15:48:08.054046Z,Vegetarian,The vegetarian diets are based on a survey con...,"Leblanc, J. C., H. Yoon, A. Kombadjian and P. ...",1888.29,72.095,641.646,33.9803,242.340,...,51.3355,53.370,202.806,10.7402,1.235,8.7685,0.464363,31.315,40.26,88.795
1,2018-05-31T15:48:04.089219Z,2018-05-31T15:48:08.054046Z,Vegan,A vegan diet is a plant based diet. This type ...,"Elmadfa, I. and C. Leitzmann (2004). Ernaehrun...",1991.21,78.560,699.184,35.1134,237.130,...,47.6352,58.630,222.794,11.1888,0.000,0.0000,0.000000,52.530,1.42,120.465
2,2018-05-31T15:48:04.089219Z,2018-05-31T15:48:08.054046Z,EU average,"The ""EU diet"" was designed based on informatio...","Elmadfa, I. (2012). Oesterreichischer Ernaehru...",2371.90,107.825,959.643,40.4589,244.195,...,41.1814,74.545,283.271,11.9428,10.800,76.6800,3.232860,21.515,476.43,115.695
3,2018-05-31T15:48:04.089219Z,2018-05-31T15:48:08.054046Z,Mediterranean,"According to Walter C. Willet (Willett, Sacks ...","Willett, W. C., F. Sacks, A. Trichopoulou, G. ...",2647.45,100.270,892.403,33.7080,246.240,...,37.2041,121.555,461.909,17.4473,16.400,116.4400,4.398190,47.140,266.00,93.340
4,2018-05-31T15:48:04.089219Z,2018-05-31T15:48:08.054046Z,DACH,This diet is based on the recommended amount o...,"Elmadfa, I. and C. Leitzmann (2004). Ernaehrun...",2148.36,78.940,702.566,32.7024,222.025,...,41.3385,104.940,398.772,18.5617,0.000,0.0000,0.000000,43.740,198.50,84.835

## Diet Flux List

In [34]:
from src.features.vmh import get_raw_diet_flux_list as get_data

table = pd.DataFrame(get_data())
table.head()

,diet,reaction,metabolite,createdDate,updatedDate,fluxValue,g_day,mw
0,DACH,EX_etoh[e],etoh,2018-05-31T15:48:11.460268Z,2018-05-31T15:48:17.338067Z,0.000000,0.00000,46.06840
1,DACH,EX_h2o[e],h2o,2018-05-31T15:48:11.460268Z,2018-05-31T15:48:17.338067Z,197316.500215,3554.71200,18.01528
2,DACH,EX_caro[e],caro,2018-05-31T15:48:11.460268Z,2018-05-31T15:48:17.338067Z,0.024810,0.01332,536.87260
3,DACH,EX_retinol[e],retinol,2018-05-31T15:48:11.460268Z,2018-05-31T15:48:17.338067Z,0.907658,0.26000,286.45160
4,DACH,EX_thm[e],thm,2018-05-31T15:48:11.460268Z,2018-05-31T15:48:17.338067Z,5.351330,1.42000,265.35460

## Molecular Mass List

endpoint to view molecular mass of specific metabolites. This information is used to calculate the fluxes associated with designed diets. They have an associated component name (nutrient) and which metabolite and exchange reaction they are associated with

In [35]:
from src.features.vmh import get_raw_mass_of_metabolites as get_data

table = pd.DataFrame(get_data())
table.head()

,metabolite,reaction,createdDate,updatedDate,componentname,molecularmass
0,5mthf,EX_5mthf(e),2018-05-31T16:00:00.552969Z,2018-05-31T16:00:04.437861Z,Whole folate content,458.4479
1,adocbl,EX_adpcbl(e),2018-05-31T16:00:00.552969Z,2018-05-31T16:00:04.437861Z,Vitamin B12 - Cobalamin,1579.5818
2,adrn,EX_adrn(e),2018-05-31T16:00:00.552969Z,2018-05-31T16:00:04.437861Z,"Adrenic acid (all-cis-7,10,13,16-Docosatetraen...",331.5121
3,ala_L,EX_ala_L(e),2018-05-31T16:00:00.552969Z,2018-05-31T16:00:04.437861Z,Alanine,89.0932
4,arachd,EX_arachd(e),2018-05-31T16:00:00.552969Z,2018-05-31T16:00:04.437861Z,"Arachidonic acid (all-cis-5,8,11,14-Eicosatetr...",303.4589

## Food Groups

In [36]:
from src.features.vmh import get_raw_food_groups as get_data

table = pd.DataFrame(get_data())
table.head()

,createdDate,updatedDate,code,description
0,2018-05-31T15:49:39.052705Z,2018-05-31T15:49:44.119635Z,0100,Dairy and Egg Products
1,2018-05-31T15:49:39.052705Z,2018-05-31T15:49:44.119635Z,0200,Spices and Herbs
2,2018-05-31T15:49:39.052705Z,2018-05-31T15:49:44.119635Z,0300,Baby Foods
3,2018-05-31T15:49:39.052705Z,2018-05-31T15:49:44.119635Z,0400,Fats and Oils
4,2018-05-31T15:49:39.052705Z,2018-05-31T15:49:44.119635Z,0500,Poultry Products

## Nutrients

In [37]:
from src.features.vmh import get_raw_nutrients as get_data

table = pd.DataFrame(get_data())
table.head()

,mets,createdDate,updatedDate,nut_no,unit,tag_name,description,common_name,num_dec,sr_order,category,subcategory
0,[],2018-05-31T16:00:18.573911Z,2018-05-31T16:00:22.751416Z,BLSNUT0001,mg,None,Medium-chain fatty acids,Medium-chain fatty acids,NaN,NaN,Lipids,Total medium-chain fatty acids
1,[eidi1114ac],2018-05-31T16:00:18.573911Z,2018-05-31T16:00:22.751416Z,BLSNUT0002,mg,None,Eicosadienoic acid,Eicosadienoic acid,NaN,NaN,Lipids,Fatty acid
2,[],2018-05-31T16:00:18.573911Z,2018-05-31T16:00:22.751416Z,BLSNUT0003,g,None,Monounsaturated fatty acids,Monounsaturated fatty acids,NaN,NaN,Lipids,Total monounsaturated fatty acids
3,[fru],2018-05-31T16:00:18.573911Z,2018-05-31T16:00:22.751416Z,BLSNUT0004,mg,None,Fructose,Fructose,NaN,NaN,Carbohydrates,Monosaccharide
4,[],2018-05-31T16:00:18.573911Z,2018-05-31T16:00:22.751416Z,BLSNUT0005,mg,None,Disaccharide,Disaccharide,NaN,NaN,Carbohydrates,Total disaccharide

## Nutrients to Foods

In [38]:
from src.features.vmh import get_raw_nutrients_to_food as get_data

table = pd.DataFrame(get_data())
table.head()

,food,nutrient,source,deriv,createdDate,updatedDate,nutr_value,num_data_points,std_error,add_nutr_mark,...,min_nutr_value,max_nutr_value,df,low_eb,up_eb,stat_cmt,addmod_date,cc,ref_food,lit_sources
0,USDA01001,"{'mets': [], 'createdDate': '2018-05-31T16:00:...",1,None,2018-05-31T16:00:38.699404Z,2018-05-31T16:03:27.923196Z,0.85,None,0.074,None,...,NaN,None,NaN,NaN,NaN,None,11/1976,None,NaN,[]
1,USDA01001,"{'mets': [], 'createdDate': '2018-05-31T16:00:...",1,None,2018-05-31T16:00:38.699404Z,2018-05-31T16:03:27.923196Z,81.11,None,0.065,None,...,NaN,None,NaN,NaN,NaN,None,11/1976,None,NaN,[]
2,USDA01001,"{'mets': [], 'createdDate': '2018-05-31T16:00:...",4,NC,2018-05-31T16:00:38.699404Z,2018-05-31T16:03:27.923196Z,0.06,None,NaN,None,...,NaN,None,NaN,NaN,NaN,None,11/1976,None,NaN,[]
3,USDA01001,"{'mets': [], 'createdDate': '2018-05-31T16:00:...",1,None,2018-05-31T16:00:38.699404Z,2018-05-31T16:03:27.923196Z,2.11,None,0.054,None,...,NaN,None,NaN,NaN,NaN,None,11/1976,None,NaN,[]
4,USDA01001,"{'mets': [], 'createdDate': '2018-05-31T16:00:...",4,NC,2018-05-31T16:00:38.699404Z,2018-05-31T16:03:27.923196Z,717.00,None,NaN,None,...,NaN,None,NaN,NaN,NaN,None,08/2010,None,NaN,[]

# Subsystem Reactions

In [39]:
from src.features.vmh import get_raw_subsystem_reactions as get_data

table = pd.DataFrame(get_data())
table.head()

,createdDate,updatedDate,name,rxns
0,2018-05-31T16:17:46.619628Z,2018-05-31T16:17:49.621478Z,Alkaloid synthesis,"[711, 1135, 1140, 2728, 2919]"
1,2018-05-31T16:17:46.619628Z,2018-05-31T16:17:49.621478Z,Vitamin B2 metabolism,"[242, 1639, 6348, 7269, 10629, 12262, 12322, 1..."
2,2018-05-31T16:17:46.619628Z,2018-05-31T16:17:49.621478Z,Protein modification,"[19667, 19668, 19669, 19670, 19672, 19673, 196..."
3,2018-05-31T16:17:46.619628Z,2018-05-31T16:17:49.621478Z,Peptide metabolism,"[8664, 8665, 8666, 8667, 8668, 8669, 8670, 867..."
4,2018-05-31T16:17:46.619628Z,2018-05-31T16:17:49.621478Z,Nucleotide sugar metabolism,"[3467, 3595, 13082, 13280, 13282]"

# Comp Gen Status List

endpoint to view the information on comparative genomic analysis performed for microbe reconstructions

In [40]:
from src.features.vmh import get_raw_comparative_genomic_analysis as get_data

table = pd.DataFrame(get_data())
table.head()

,id,microbe,createdDate,updatedDate,pathway,status
0,1,{'reconstruction': 'Abiotrophia_defectiva_ATCC...,2018-05-31T15:42:22.477428Z,2018-05-31T15:42:35.779976Z,Amino acids biosynthesis: Glycine,Complete
1,2,{'reconstruction': 'Abiotrophia_defectiva_ATCC...,2018-05-31T15:42:22.477428Z,2018-05-31T15:42:35.779976Z,Amino acids biosynthesis: Tyrosine,Complete
2,3,{'reconstruction': 'Abiotrophia_defectiva_ATCC...,2018-05-31T15:42:22.477428Z,2018-05-31T15:42:35.779976Z,B-vitamin biosynthesis: Pantothenate,Fragmented
3,4,{'reconstruction': 'Abiotrophia_defectiva_ATCC...,2018-05-31T15:42:22.477428Z,2018-05-31T15:42:35.779976Z,Amino acids biosynthesis: Methionine,Complete
4,5,{'reconstruction': 'Abiotrophia_defectiva_ATCC...,2018-05-31T15:42:22.477428Z,2018-05-31T15:42:35.779976Z,Amino acids biosynthesis: Valine,Complete