In [1]:
cd /home/user/Documents/Students/Sobhan Ahmadian/Projects/SKGNMDA

/home/user/Documents/Students/Sobhan Ahmadian/Projects/SKGNMDA

/home/user/Documents/Students/Sobhan Ahmadian/Projects/SKGNMDA/venv/lib/python3.10/site-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:
import pandas as pd

# All Relations

In [3]:
from src.features import get_relations as get_data

data = pd.DataFrame(get_data())
data.tail()

              id  head_id  tail_id       type
1483592  1483593    26153    25688  MetInComp
1483593  1483594    26153    25744  MetInComp
1483594  1483595    26153    25811  MetInComp
1483595  1483596    26153    25820  MetInComp
1483596  1483597    26153    25843  MetInComp

In [4]:
data.shape

(1483597, 4)

# MicrobeLocated

In [26]:
from src.features import get_microbe_located_relations as get_data

data = pd.DataFrame(get_data())
data.head()

   id  head_id  tail_id
0   1        1      459
1   2        1      476
2   3        1      477
3   4        1      478
4   5        1      481

In [27]:
data.shape

(1110, 3)

# LocHasMicrobe

In [28]:
from src.features import get_loc_has_microbe_relations as get_data

data = pd.DataFrame(get_data())
data.head()

     id  head_id  tail_id
0  1111      459        1
1  1112      476        1
2  1113      477        1
3  1114      478        1
4  1115      481        1

In [30]:
data.shape

(1110, 3)

# MicrobeHasReact

In [31]:
from src.features import get_microbe_has_react_relations as get_data

data = pd.DataFrame(get_data())
data.head()

     id  head_id  tail_id      lb      ub
0  2221    10720      249     0.0  1000.0
1  2222    11224      249 -1000.0  1000.0
2  2223     9925      249 -1000.0  1000.0
3  2224     9926      249     0.0  1000.0
4  2225     9927      249     0.0  1000.0

In [32]:
data.shape

(1176344, 5)

# ReactInSub

In [33]:
from src.features import get_react_in_sub_relations as get_data

data = pd.DataFrame(get_data())
data.head()

        id  head_id  tail_id
0  1178565      826     1643
1  1178566      826     2047
2  1178567      826     2052
3  1178568      826     3427
4  1178569      826     3599

In [34]:
data.shape

(19883, 3)

# SubHasReact

In [35]:
from src.features import get_sub_has_react_relations as get_data

data = pd.DataFrame(get_data())
data.head()

        id  head_id  tail_id
0  1198448     1643      826
1  1198449     2047      826
2  1198450     2052      826
3  1198451     3427      826
4  1198452     3599      826

In [36]:
data.shape

(19883, 3)

# ReactantIn

In [37]:
from src.features import get_reactant_in_relations as get_data

data = pd.DataFrame(get_data())
data.head()

        id  head_id  tail_id  value
0  1218331     1445    22861   -4.0
1  1218332     1445    21086   -1.0
2  1218333     1445    25252   -1.0
3  1218334     1704    24999   -1.0
4  1218335     1704    22861   -8.0

In [38]:
data.shape

(81573, 4)

# ProductIn

In [39]:
from src.features import get_product_in_relations as get_data

data = pd.DataFrame(get_data())
data.head()

        id  head_id  tail_id  value
0  1299904     1445    22865    1.0
1  1299905     1445    22861    3.0
2  1299906     1445    21277    1.0
3  1299907     1704    22865    2.0
4  1299908     1704    22861    4.0

In [40]:
data.shape

(40987, 4)

# HasReactant

In [41]:
from src.features import get_has_reactant_relations as get_data

data = pd.DataFrame(get_data())
data.head()

        id  head_id  tail_id  value
0  1381878    22861     1445   -4.0
1  1381879    21086     1445   -1.0
2  1381880    25252     1445   -1.0
3  1381881    24999     1704   -1.0
4  1381882    22861     1704   -8.0

In [42]:
data.shape

(81573, 4)

# HasProduct

In [43]:
from src.features import get_has_product_relations as get_data

data = pd.DataFrame(get_data())
data.head()

        id  head_id  tail_id  value
0  1340891    22865     1445    1.0
1  1340892    22861     1445    3.0
2  1340893    21277     1445    1.0
3  1340894    22865     1704    2.0
4  1340895    22861     1704    4.0

In [44]:
data.shape

(40987, 4)

# Biomarker

In [45]:
from src.features import get_biomarker_relations as get_data

data = pd.DataFrame(get_data())
data.head()

,id,head_id,tail_id,value,normalConcentrationUp,normalConcentrationDown,rangeConcentrationUp,rangeConcentrationDown
0,1463451,22778,26105,Increased,740.0,180.0,1350.0,550.0
1,1463452,25311,26047,Increased,320.0,95.0,1360.0,830.0
2,1463453,25822,26115,Increased,215.0,65.0,650.0,210.0
3,1463454,25653,26045,Increased,150.0,25.0,NaN,NaN
4,1463455,24482,26113,Increased,38.0,10.0,170.0,56.0

In [46]:
data.shape

(115, 8)

# CompHasMet

In [48]:
from src.features import get_comp_has_met_relations as get_data

data = pd.DataFrame(get_data())
data.head()

        id  head_id  tail_id
0  1463566    20284    26146
1  1463567    20285    26146
2  1463568    20286    26146
3  1463569    20287    26146
4  1463570    20288    26146

In [49]:
data.shape

(10016, 3)

# MetInComp

In [50]:
from src.features import get_met_in_comp_relations as get_data

data = pd.DataFrame(get_data())
data.head()

        id  head_id  tail_id
0  1473582    26146    20284
1  1473583    26146    20285
2  1473584    26146    20286
3  1473585    26146    20287
4  1473586    26146    20288

In [51]:
data.shape

(10016, 3)