In [1]:
cd /home/user/Documents/Students/Sobhan Ahmadian/Projects/SKGNMDA

/home/user/Documents/Students/Sobhan Ahmadian/Projects/SKGNMDA

/home/user/Documents/Students/Sobhan Ahmadian/Projects/SKGNMDA/venv/lib/python3.10/site-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:
import pandas as pd

# Entities

In [3]:
from src.features import get_entities as get_data

data = pd.DataFrame(get_data())
data.head()

   id          type
0   1  BodyLocation
1   2  BodyLocation
2   3  BodyLocation
3   4  BodyLocation
4   5  BodyLocation

In [4]:
data.shape

(26153, 2)

# Body Locations

In [20]:
from src.features import get_body_locations as get_data

data = pd.DataFrame(get_data())
data.head()

   id              name
0   1           Stomach
1   2   Small intestine
2   3   Large Intestine
3   4  Urogenital tract
4   5              Oral

In [21]:
data.shape

(7, 2)

In [10]:
data['name'].hasnans

False

In [11]:
len(set(data['name'])) == len(data['name'])

True

# Microbes

In [22]:
from src.features import get_microbes as get_data

data = pd.DataFrame(get_data())
data.head()

,id,organism,kingdom,phylum,mclass,order,family,genus,oxygenstat,metabolism,gram,mtype
0,8,Abiotrophia defectiva ATCC 49176,Bacteria,Firmicutes,Bacilli,Lactobacillales,Aerococcaceae,Abiotrophia,Facultative anaerobe,"Saccharolytic, fermentative or respiratory",Positive,Pathogen
1,9,Achromobacter xylosoxidans A8,Bacteria,Proteobacteria,Betaproteobacteria,Burkholderiales,Alcaligenaceae,Achromobacter,Aerobe,Respiratory,Negative,None
2,10,Achromobacter xylosoxidans NBRC 15126 = ATCC 2...,Bacteria,Proteobacteria,Betaproteobacteria,Burkholderiales,Alcaligenaceae,Achromobacter,Aerobe,Respiratory,Negative,None
3,11,Acidaminococcus fermentans DSM 20731,Bacteria,Firmicutes,Negativicutes,Acidaminococcales,Acidaminococcaceae,Acidaminococcus,Obligate anaerobe,Fermentative,Negative,
4,12,Acidaminococcus intestini RyC-MR95,Bacteria,Firmicutes,Negativicutes,Selenomonadales,Acidaminococcaceae,Acidaminococcus,Obligate anaerobe,"Asaccharolytic, glutamate is fermented",Negative,Commensal

In [25]:
data.shape

(818, 12)

In [23]:
data['organism'].hasnans

False

In [24]:
len(set(data['organism'])) == len(data['organism'])

True

# Subsystems

In [27]:
from src.features import get_subsystems as get_data

data = pd.DataFrame(get_data())
data.head()

    id                         name
0  826           Alkaloid synthesis
1  827        Vitamin B2 metabolism
2  828         Protein modification
3  829           Peptide metabolism
4  830  Nucleotide sugar metabolism

In [29]:
data.shape

(145, 2)

In [30]:
data['name'].hasnans

False

In [31]:
len(set(data['name'])) == len(data['name'])

True

# Reactions

In [32]:
from src.features import get_reactions as get_data

data = pd.DataFrame(get_data())
data.head()

,id,formula,reversible,isHuman,isMicrobe,abbreviation
0,971,10fthf5glu[c] -> 10fthf5glu[l],False,True,False,10FTHF5GLUtl
1,972,10fthf5glu[m] -> 10fthf5glu[c],False,True,False,10FTHF5GLUtm
2,973,10fthf6glu[c] -> 10fthf6glu[l],False,True,False,10FTHF6GLUtl
3,974,10fthf6glu[m] -> 10fthf6glu[c],False,True,False,10FTHF6GLUtm
4,975,10fthf7glu[c] -> 10fthf7glu[l],False,True,False,10FTHF7GLUtl

In [33]:
data.shape

(19313, 6)

In [34]:
data['abbreviation'].hasnans

False

In [35]:
len(set(data['abbreviation'])) == len(data['abbreviation'])

True

# Metabolite

In [36]:
from src.features import get_metabolites as get_data

data = pd.DataFrame(get_data())
data.head()

,id,abbreviation,fullName,chargedFormula,charge,avgmolweight,monoisotopicweight,smile,isHuman,isMicrobe
0,20284,10fthf,10-Formyltetrahydrofolate,C20H21N7O7,-2,473.4393,473.165896,[H]OC1=NC(=NC2=C1N([H])C([H])(C([H])([H])N(C([...,True,True
1,20285,10fthf5glu,10-Formyltetrahydrofolate-[Glu](5),C40H45N11O19,-6,NaN,NaN,[H]OC1=NC(=N[H])N([H])C2=C1N([H])C([H])(C([H])...,True,True
2,20286,10fthf6glu,10-Formyltetrahydrofolate-[Glu](6),C45H51N12O22,-7,NaN,NaN,[H]OC(=O)C([H])(N=C([O-])C([H])([H])C([H])([H]...,True,False
3,20287,10fthf7glu,10-Formyltetrahydrofolate-[Glu](7),C50H57N13O25,-8,NaN,NaN,[H]OC1=NC(=N[H])N([H])C2=C1N([H])C([H])(C([H])...,True,False
4,20288,10m3hddcaACP,10-methyl-3-hydroxy-dodecanoyl-ACP,C24H45N2O9PRS,-1,NaN,NaN,,False,True

In [37]:
data.shape

(5607, 10)

In [38]:
data['abbreviation'].hasnans

False

In [39]:
len(set(data['abbreviation'])) == len(data['abbreviation'])

True

# Diseases

In [40]:
from src.features import get_diseases as get_data

data = pd.DataFrame(get_data())
data.head()

,id,abbreviation,name,subtype,inheritance,organ
0,25891,BS1,"Bartter Syndrome, Type 1",Sodium-potassium-chloride cotransporter,Autosomal recessive,Kidney
1,25892,3MGA,3-Methylglutaconic Aciduria Type I,Organic acid disorders,Autosomal recessive,Nervous system
2,25893,FLIPO,Farber Lipogranulomatosis,Lysosomal disorder,Autosomal recessive,"Skin, skeletal system, liver, spleen, nervous ..."
3,25894,ACAD,Acetyl-Coa Carboxylase Deficiency,Lipid disorder,None,"Muscle, nervous system"
4,25895,PALD,Pseudoneonatal Adrenoleukodystrophy,Beta oxidation of fatty acids,Autosomal recessive,Nervous system

In [41]:
data.shape

(255, 6)

In [42]:
data['abbreviation'].hasnans

False

In [43]:
len(set(data['abbreviation'])) == len(data['abbreviation'])

True

# Compartments

In [44]:
from src.features import get_compartments as get_data

data = pd.DataFrame(get_data())
data.head()

      id             name
0  26146          Cytosol
1  26147    Extracellular
2  26148  Golgi Apparatus
3  26149     Mitochondria
4  26150         Lysosome

In [45]:
data.shape

(8, 2)

In [46]:
data['name'].hasnans

False

In [47]:
len(set(data['name'])) == len(data['name'])

True